# Always-ignore.
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
.vagrant

# OS/Editor.
.DS_Store
.cache
.project
.settings
.tmproj
.env
*.sass-cache
nbproject
Thumbs.db
.Spotlight-V100
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db

# Packages.
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules/
bower_components/
package-lock.json
report.html

# Visual Studio.
[Bb]in/
[Oo]bj/
*.suo
*.csproj.user
.vs*

# Artefacts
build


PublishProfiles

cache*.bin