<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrouvePrenom - 10 idées de prénoms par jour</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <hr />
    <footer>
        <p>&copy; 2018 - TrouvePrenoms</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
