<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TrouvePrenom - 10 idées de prénoms par jour</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <header>
        <h1>Trouve Prénom</h1>
        <p>Le site simple et sans fioritures pour aider les futurs parents à trouver un prénom.</p>
        <p>10 prénoms par jour : 5 garçons / 5 filles</p>
    </header>
    <main>
        @RenderBody()
    </main>
    <hr />
    <footer>
        <p>&copy; 2018 - Damien Mayance</p>
        <p><a href="(https://www.insee.fr/fr/statistiques/2540004">Données fournies par l'INSEE</a>. <a href="https://github.com/valryon/trouveprenom">Ce site est open source</a>.</p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
