@model AboutViewModel
<div class="content">
    <p>
        <b>Trouve Prénom</b> est un site réalisé par <a href="https://dmayance.com">Damien Mayance</a>.
    </p>
    <p>
        Ce site ne collecte aucune information : pas de tracking, pas de newsletter, pas de données personnelles... et donc pas 36 fonctionnalités, seulement la visualisation pratique des données publiques sur les prénoms.
    </p>
    <p>
        Si le projet vous a plu ou vous a aidé, n'hésitez pas à aller voir mes autres projets, notamment les jeux <a href="https://2doom.itch.io/game">2DOOM</a> et <a href="http://steredenn.pixelnest.io">Steredenn</a>.
    </p>
</div>
